[[ -d ~/.arkade ]] && export PATH=$PATH:$HOME/.arkade/bin/
export KUBECONFIG=~/.kube/config
export EDITOR=nano
[[ -d ~/.krew ]] && export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
export PATH="/home/krzwiatrzyk/.local/bin:$PATH"
[[ -d ~/go/bin ]] && export PATH="${HOME}/go/bin:$PATH" 