alias fix-git="find .git/objects/ -size 0 -exec rm -f {} \; && git fetch origin"
alias fix-zsh="~/.scripts/fix-zsh.sh"
alias fix-git="~/.scripts/fix-git.sh"

if command -v bat > /dev/null; then
  alias cat="bat --paging=never --theme=DarkNeon"
fi

if ! command -v pbcopy > /dev/null; then
  alias pbcopy="xclip -sel clip"
fi